<div id="<%= dom_id result %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Job:</strong>
    <%= result.job_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= result.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= result.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= result.notes %>
  </div>
</div>
