<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Job Viper" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <%# The landing zone for all popups %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
